/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico da página */
body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d; /* Fundo cinza escuro */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    position: relative;
}

/* Botão de Menu (|||) */
.menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

/* Menu Lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 9;
    padding-top: 60px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 15px;
    text-align: center;
}

.side-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-menu ul li a:hover {
    background-color: #444;
}

/* Mostrar o menu */
.side-menu.open {
    left: 0;
}

/* Estilo do Conteúdo */
.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.section {
    display: none;
}

/* Cabeçalho */
header {
    background-color: #e63946; /* Vermelho */
    color: #fff;
    padding: 2rem;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

button {
    background-color: #e63946;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d62839;
}

/* Rodapé */
footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #f1faee;
    font-size: 1rem;
}
