/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #323232; /* Cinza escuro */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #e63946; /* Vermelho */
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #f1faee; /* Branco suave */
    margin-bottom: 20px;
}

button {
    background-color: #e63946; /* Vermelho */
    color: #f1faee;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d62839; /* Vermelho mais escuro */
}

.protection-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #f1faee;
}

#attack-warning {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000; /* Vermelho */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 10;
    text-align: center;
}

.hidden {
    display: none;
}
